// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1{
    text-align: center;
    font-style: italic;
    color: yellowgreen;
    font-weight: bold;
}
.text-field{
   
padding: 7px 100px;
border-radius: 5px;
background-color:ghostwhite

}
.signup{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}