<div class="header">
  <%= link_to "Back", login_path, class: "link" %>
</div>
<div class="container">
  <h1>Reset Your Password</h1>
  <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
    <div class="mb-20">
      <%= form.password_field :password, placeholder: "Enter Your New password", class: "text-field" %>
    </div>
    <div class="submit">
      <%= form.submit "Reset Password", class: "edit" %>
    </div>
  <% end %>
</div>