<h1>Select Your Age</h1>  
 <%= form_for :userinfo, url: index_login_path do |f| %>
  User Name: <%= f.text_field :name %><br><br><br>
  Password:<%= f.text_field :password %> <br><br><br>
  <%= f.submit 'Login' %>  
<% end %>
