<div class="container">
  <%= form_for :generate, url: save_path do |f| %>
    <p class="inner"><%= f.label :Id %>
      <%= f.text_field :id, required: true %>
    </p>
    <div class="submit">
      <%= f.submit "Save" %>
    </div>
  <% end %>
</div>

