<div class="login">
  <h1>Reset Your Password</h1>
  <%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
    <div class="password">
      <%= form.password_field :password, placeholder: "Enter Your New password", class: "form-control-user" %>
    </div>
    <div class="submit">
      <%= form.submit "Reset Password" %>
    </div>
  <% end %>
</div>
